.thread-history {
  width: 100%;
}

.title-header {
  border-bottom: 1px solid var(--border-color);
}

.thread-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - 133px);
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 10px;
}

.thread-history .search-input {
  margin-bottom: 10px;
}