.search-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px 0 40px 0;
}

.loading {
  pointer-events: none;
  filter: saturate(0.65);
  opacity: 0.9;
}

.search-options {
  display: flex;
  gap: 10px;
}

.search-options .icon-btn {
  cursor: default;
}

.search-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.follow-up-questions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}