/* :root {
  --primary-bg-color: #252525;
  --secondary-bg-color: #3c3f43;
  --accent-color: #ffad9d;
  --accent-color-hover: #ff785e;
  --text-color: #ffffff;
  --light-text-color: #efefef;
  --border-color: #74787f;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --logout-button-bg: #dc3545;
  --logout-button-hover-bg: #c82333;
} */

:root {
  --primary-bg-color: #6c627f;
  --secondary-bg-color: #8e80a9;
  --accent-color: #ffad9d;
  --accent-color-hover: #ff785e;
  --text-color: #ffffff;
  --light-text-color: #efefef;
  --border-color: #cbc0d5;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --logout-button-bg: #dc3545;
  --logout-button-hover-bg: #c82333;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  box-sizing: border-box;
}

main {
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}