:root {
  --primary-bg-color: #4c455a;
  --secondary-bg-color: #75698b;
  --accent-color: #ffad9d;
  --accent-color-hover: #ff785e;
  --text-color: #ffffff;
  --light-text-color: #efefef;
  --border-color: #cbc0d5;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --success-bg: #28a745;
  --success-hover-bg: #218838;
  --destructive-bg: #dc3545;
  --destructive-hover-bg: #c82333;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  box-sizing: border-box;
}

main {
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 650px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.loading {
  pointer-events: none;
  filter: saturate(0.65);
  opacity: 0.9;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--primary-bg-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-text-color);
}